<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="body-404">
    <%- include('../partials/header'); %>
    <main class="main-404">
      <h1>404</h1>
      <p>The page is missing. How about finding a chingu to watch kdramas with?</p>
      <a href="/">Give me Chingu!</a>
    </main>
    <img src="/img/logo.svg" alt="Logo" />
    <script src="/js/visibility.js"></script>
    <script src="js/detail.js"></script>
  </body>
</html>
